Global styles
*{
  box-sizing: border-box;
}
body{
    margin: 0 auto;
}

main{
    margin: 30px;
}
section{
    max-width: 800px;
    margin: 0 auto;
}
.conteiner {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(242,242,242);
  padding: 30px;

}
.title {
    color: rgb(21, 45, 90);
    margin: 20px;
}
.text{
  margin-left: 20px;
  font-size: 20px;
}

/* header styles */
header{
    width: 100%;    
    display: flex;
    height: 100px;    
    background-color: #2c97be;
}
.header_text{
    display: flex;  
    margin: 0 auto;
    text-align: center;
    align-items: center;
    color: white;
}
@media only screen and (max-width: 700px) {
  .header_text{
    font-size: 1.5em;
  }
}

/* Task one styles book page*/

.page_title {
  text-align: center;
  color: rgb(55,43,120);
}
.sub-title {
  color: rgb(100,	118, 154);
}
.page_text {
  line-height: 20px;
}
.white_space{
  white-space: pre-line;
}
.italic{
  font-style: italic;
  font-size: 12px;
}

/* Task 2 card game */

.game_user {
  font-weight: 400;
  font-size: 24px;
}
/* .cards {
  display: flex;    С этими сойствами мне нравилось больше, но макет есть макет)
  justify-content: space-between;
} */
.card {
  padding: 0 10px;
  font-size: 47px;
  background-color: rgb(217,	217,	217);
}
.red {
  color: rgb(129,	0,	2);
}

/* Task 3 HTML Tutorial */

.tutorial_subtitle, .tutorial_title{
  text-align: center;
}
.bold{
  font-weight: bold;
}
.dotted{
  text-decoration: underline dotted;
}
.black{
  color: black;
}
.tutorial_footer{
  display: flex;
  align-items: center;
}
pre{
  background-color: rgb(207,	207,	207);
}
a{
  margin-left: 5px;
  text-decoration: none;
  color: rgb(75,	155,	164);
  background-color: rgb(207,	207,	207);
}

/* footer */
footer{
  height: 50px;
  background-color: #2c97be;
  width: 100%;
}
.footer_text{
  margin-left: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;

}